* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* NAV */
header {
  background-color: #111;
  padding: 15px 20px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #00c851;
}

/* HERO */
.hero {
  background: #e0f7e9;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 36px;
  color: #111;
}

.hero p {
  font-size: 18px;
  margin: 10px 0 30px;
}

.btn {
  background-color:red;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #007e33;
}

/* SERVIÇOS */
.servicos {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.servicos h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.servicos ul {
  list-style: none;
  font-size: 18px;
  color: #333;
}

/* PLANOS */
.planos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 20px;
  background-color: #fff;
}

.card {
  border-radius: 10px;
  padding: 30px;
  width: 280px;
  text-align: center;
  color: white;
}

.card.green {
  background-color: #00c851;
}

.card.blue {
  background-color: #33b5e5;
}

.card.black {
  background-color: #2e2e2e;
}

.card h2 {
  margin-bottom: 20px;
}

.card ul {
  list-style: none;
  margin-bottom: 20px;
  font-size: 16px;
}

/* CONTATO */
.contato {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.contato h2 {
  font-size: 28px;
  color: #333;
}

.contato p {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}

.contato form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contato input,
.contato textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
}

.contato button {
  padding: 15px;
  background-color: #00c851;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.contato button:hover {
  background-color: #007e33;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
  font-size: 14px;
}
